body{
    overflow-x: hidden;
 background-color: rgba(240, 246, 240, 0.163)important;
}

h1,b {
    font-size: 42px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    
  }
  